html{
    background: white;
}

body{
    background-color: black;
    border: solid 5px darkgrey;
    border-radius: 15px;
    margin: 5rem;
    display: flex;
    padding: 20px;
    text-align: right;
}

#meuGrafico{
    max-width: 300px;
    max-height: 300px;
}

h1{
    color: white;
    padding-right: 3rem;
    text-align: left;
}